<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.ArticleDao" >
  <resultMap id="BaseResultMap" type="com.baizhi.entity.Article" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="AUTHOR" property="author" jdbcType="VARCHAR" />
    <result column="CONTENT" property="content" jdbcType="VARCHAR" />
    <result column="GURU_ID" property="guruId" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="DATE" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="OTHER" property="other" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, TITLE, AUTHOR, CONTENT, GURU_ID, CREATE_DATE, STATUS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from article
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from article
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="Article" >
    insert into article (ID, TITLE,
      CONTENT, CREATE_DATE,
      STATUS)
    values (#{id}, #{title},
      #{content}, #{create_date},
      #{status})
  </insert>
  <insert id="insertSelective" parameterType="com.baizhi.entity.Article" >
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="author != null" >
        AUTHOR,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
      <if test="guruId != null" >
        GURU_ID,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="other != null" >
        OTHER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="guruId != null" >
        #{guruId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="other != null" >
        #{other,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Article" >
    update article
    <set >
      <if test="title != null" >
        TITLE = #{title},
      </if>
      <if test="author!= null" >
        AUTHOR = #{author},
      </if>
      <if test="content != null" >
        CONTENT = #{content},
      </if>
      <if test="guru_id != null" >
        GURU_ID = #{guruId},
      </if>
      <if test=" create_date!= null" >
        CREATE_DATE = #{create_date},
      </if>
      <if test="status != null" >
        STATUS = #{status},
      </if>
    </set>
    where ID = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baizhi.entity.Article" >
    update article
    set TITLE = #{title,jdbcType=VARCHAR},
      AUTHOR = #{author,jdbcType=VARCHAR},
      CONTENT = #{content,jdbcType=VARCHAR},
      GURU_ID = #{guruId,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=DATE},
      STATUS = #{status,jdbcType=VARCHAR},
      OTHER = #{other,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectAll" resultType="Article">
    select ID,TITLE,AUTHOR,CONTENT,GURU_ID,CREATE_DATE,STATUS from article limit #{page},#{rows}
  </select>
  <select id="selectCount" resultType="Integer">
    select COUNT(id) from article
  </select>
  <delete id="deleteArticle">
    delete from article where id in
    <foreach collection="array" open="(" item="id" separator="," close=")">
      #{id}
    </foreach>
  </delete>
  <select id="selectByid" resultType="Article">
    select id,title,author,content,guru_id,create_date,status from article where ID = #{id}
  </select>

  <select id="select" resultType="Article">
    select id,title,author,content,guru_id,create_date,status from article where GURU_ID = #{id}
  </select>

    <select id="selectByAll" resultType="Article">
    select id,title,author,content,guru_id,create_date,status from article
  </select>
</mapper>