<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.PermDtoDao">
    <resultMap id="BaseResultMap" type="com.baizhi.entity.PermDto">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="perms" property="perms" jdbcType="VARCHAR"/>
        <result column="roleid" property="roleid" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, perms, roleid
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from permission
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from permission
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.baizhi.entity.PermDto">
    insert into permission (id, perms, roleid
      )
    values (#{id,jdbcType=VARCHAR}, #{perms,jdbcType=VARCHAR}, #{roleid,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.baizhi.entity.PermDto">
        insert into permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="perms != null">
                perms,
            </if>
            <if test="roleid != null">
                roleid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="perms != null">
                #{perms,jdbcType=VARCHAR},
            </if>
            <if test="roleid != null">
                #{roleid,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.baizhi.entity.PermDto">
        update permission
        <set>
            <if test="perms != null">
                perms = #{perms,jdbcType=VARCHAR},
            </if>
            <if test="roleid != null">
                roleid = #{roleid,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.baizhi.entity.PermDto">
    update permission
    set perms = #{perms,jdbcType=VARCHAR},
      roleid = #{roleid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
    <select id="selectByid" resultType="PermDto">
    select p.id,p.perms FROM
    role r LEFT JOIN perm_role pr
    on r.id = pr.role_id
    LEFT JOIN permission p
    on p.id = pr.perm_id WHERE r.id = #{id}
  </select>
</mapper>